gitdb==4.0.11
GitPython==3.1.40
idna==3.6
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
matplotlib==3.7.1
numpy==1.24.2
packaging==23.1
pandas==2.0.3
python-dateutil==2.8.2
pytz==2023.3
referencing==0.32.0
requests==2.31.0
streamlit==1.38.0
streamlit-autorefresh==1.0.1
tzdata==2023.3
tzlocal==5.2
urllib3==2.1.0
validators==0.22.0
virtualenv==20.21.0
